* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    background-color: #E5F4FB; 
    color: #141E46; 
    text-align: center;
    margin-top: 80px; 
}

header {
    margin-bottom: 50px;
    padding-top: 30px;
}

h1 {
    font-size: 4em;
    color: #141E46;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    font-weight: 300;
}
.subtitulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    font-weight: 300;
}

.logo {
    width: 150px;
    height: auto;
    margin-top: 10px;
}


.navbar {
    background-color: #2E4057;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex; 
    align-items: center;
    justify-content: space-between; 
}
.logo-container {
    margin-left: 20px;
}

.logo-navbar {
    width: 70px; 
    height: auto;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 20px; 
}


.navbar ul li {
    margin: 0 20px;
}

.navbar ul li a {
    color: #ffffff; 
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #a5ace2; 
}
#propuesta {
    width: 60%;
    margin: 0 auto; 

}

.propuesta_container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    background-color: rgba(255, 255, 255, 0.548);
    padding: 20px;
    border: solid 1px #141E46;
    border-radius: 20px;
    max-width: 1200px;
    
}
h3 {
    margin-bottom: 10px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}
p {
    margin-bottom: 20px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

section {
    margin: 60px 0;
}

h2 {
    font-size: 1.7em;
    margin-bottom: 20px;
    color: #2E4057;
    font-family: "Sora", sans-serif;
}

.color-sample {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: rgb(192, 192, 192);
}

ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

li {
    font-size: 1.3em;
    margin-bottom: 10px;
    color: #2E4057;
    font-family: "Sora", sans-serif;
}

.boton-figma {
    width: 200px;
    height: 35px;
    border-radius: 20px;
    background-color: #141E46;
    border: solid 2px #000000;
    color: white;
    font-family: "Sora", sans-serif;
    font-size: 15px;
    cursor: pointer;

}

.boton-figma:hover {
    background-color: #8e9ad7;
    transition: ease-in-out 0.2s;
}
footer {
    margin-top: 50px;
    font-size: 0.9em;
    color: #141E46;
    font-family: "Sora", sans-serif;
}


@media (max-width: 768px) {
    .navbar ul li {
        margin: 0 10px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    .color-sample {
        width: 80px;
        height: 80px;
    }
}

